<div class="row">
    <div class="col-6">
        <app-doughnut title="sample title 1"
                      [lables]="labels1"
                      [data]="data1">
        </app-doughnut>
    </div>
    <div class="col-6">
        <app-doughnut title="sample title 2"
                      [lables]="labels2"
                      [data]="data2">
        </app-doughnut>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-doughnut title="sample title 3"
                      [lables]="labels3"
                      [data]="data3">
        </app-doughnut>
    </div>
    <div class="col-6">
        <app-doughnut title="sample title 4"
                      [lables]="labels4"
                      [data]="data4">
        </app-doughnut>
    </div>
</div>
